.button {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    button {
        height: 30px; 
        width: 120px; 
        background-color: darkgreen;
        border-radius: 5px;
        
    }
}