.button {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .add-images {
        height: 30px; 
        width: 120px; 
        background-color: #428cff;
        border-radius: 5px;
    }
}

.search {
    width: 50px;
    font-size: 23px;
    background-color: #428cff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.spinner {
    display: flex;
    margin: auto;
}