.button {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  .add-images {
    height: 30px;
    width: 120px;
    background-color: rgba(255, 140, 0, 0.658);
    border-radius: 5px;
  }
}
