<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container> -->

  <h2>Pictures with SAS</h2>
  <table>
    <tr>
      <td></td><td><input type="file" accept="image/*" (change)="filesSelected($event)"></td>
      <td>
        <button style="height: 30px; width: 100px; background-color: dimgray;" 
                (click)="imageSelected()">
          Add picture
        </button>
      </td>
    </tr>
    <br>
    <!-- <tr>
      <td>Insert SAS:</td><td><input type="text" (change)="setSas($event)" size="90"></td>
    </tr>
    <tr>
      <td>Current SAS:</td><td>{{sas}}</td>
    </tr> -->
  </table>
  <h4>List</h4>
  <table>
    <tr *ngFor="let pic of picturesList">
      <td>{{pic}}</td>
      <td><button (click)="deleteImage(pic)">DELETE</button></td>
      <td><button (click)="downloadImage(pic)" download="pic">DOWNLOAD</button></td>
    </tr>
  </table>
  <h4>Downloaded</h4>
  <img *ngFor="let blob of picturesDownloaded" src="{{ blob }}" height="100px">
</ion-content>
