.priceRange {
    display: flex;
    justify-content: flex-start;
}

.workingHours {
    display: flex;
    justify-content: flex-start;
}

.img {
    max-width: 85%; 
    margin-left: 25px;
    margin-bottom: 10px;
    border-radius: 15px;
}